html {
    background-color: rgb(247, 224, 224);
}


/* Sintaxis css
seletor,etiqueta, class, id{ color: black;}
{propiedad:valor
    propiedad:valor
    propiedad:valor */


h1 {
    color: #ff64db;

    background-color: #925d29;
}


p {
    color: #a3e992;
}

div {
    background-color: red;

    color: white;

    width: 200px;
    height: 200px;
    border: 5px solid black;
}




a {
    background-color: violet;
}